@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  position: fixed;
  left: var(--space-S);
  top: var(--space-S);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: var(--widget-border-radius);
  background: var(--widget-color);
  transition: all 0.2s ease-out;
  max-height: calc(100vh - 2 * var(--space-S));
  overflow-y: scroll;
  overscroll-behavior: none;
  z-index: 100;
  border: 0.1px solid rgb(213, 213, 213);
  scrollbar-width: none;
}

.outer {
  display: flex;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-bottom: var(--space-S);
}

.content {
  position: absolute;
  padding: var(--space-S);
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.information {
  width: 500px;
  display: flex;
}

.information div:first-child {
  padding-right: 30px;
}

.information div:nth-child(2) {
  animation: fadeIn 0.5s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menuIcon {
  position: absolute;
  margin: var(--space-S);
  cursor: pointer;
  z-index: 100;
  height: 15px;
  width: 25px;
}

.left {
  width: 50px;
}

.inner {
  display: flex;
}

.date {
  width: 100px;
}

.headline,
.text,
.images {
  padding-bottom: var(--space-S);
}

.text a {
  font-family: "Protest";
  font-variation-settings: "wght" 130;
  font-size: var(--PG-font-size);
  line-height: var(--PG-line-height);
  letter-spacing: var(--PG-letter-spacing);
  word-spacing: var(--PG-word-spacing);
}

.link {
  padding-bottom: var(--space-S);
}

.link span {
  width: 90px;
  cursor: pointer;
}

.link span:hover,
.text a:hover {
  color: var(--primary);
  /* text-decoration: underline 1.7px;
  text-underline-offset: 3px; */
}

.date,
.index,
.text {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

/* NEWS */

.newsFeed {
  overscroll-behavior: contain;
  overflow-y: scroll;
}

.newsContent {
  width: 400px;
}

.wrapperNews:hover {
  padding-bottom: 30px;
}

.extendArrowDown,
.extendArrowUp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 20px;
}

.extendArrowDown span,
.extendArrowUp span {
  cursor: pointer;
  /* height: 11px; */
}

.extendArrowUp {
  position: absolute;
  bottom: var(--space-S);
  right: var(--space-S);
}

.extendArrowDown:hover,
.extendArrowUp:hover {
  color: var(--primary)
}

.innerBottom {
  display: flex;
  margin-top: var(--space-L);
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.swiperControls {
  position: absolute;
  height: 200px;
  width: 400px;
  display: flex;
  z-index: 10;
  overscroll-behavior: contain;
  overflow: hidden;
}

.swiperControls div {
  width: 50%;
  height: 100%;
  overscroll-behavior: contain;
}

.swiperControlLeft {
  cursor: url("../../public/images/arrow-left.svg"), auto;
}

.swiperControlRight {
  cursor: url("../../public/images/arrow-right.svg"), auto;
}

/* PROJECT */

.outerFull {
  width: calc(100vw - 4 * var(--space-S));
  height: calc(100vh - 4 * var(--space-S));
  display: flex;
}

.outerProject {
  margin-right: 25px;
  max-height: calc(100vh - 4 * var(--space-S));
  display: flex;
}

.outerProjSmall {
  display: flex;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-bottom: var(--space-S);
}

.outerProjSmall:hover {
  color: var(--primary);
}

.projectWrapper {
  width: 300px;
  cursor: pointer;
}

.projectWrapperFull {
  width: 300px;
}

.projectHead {
  display: flex;
}

.projectArrow {
  position: absolute;
  top: 15px;
  right: var(--space-S);
  z-index: 100;
  cursor: pointer;
}

.projectText {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.projectTextFull p {
  padding-bottom: 25px;
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.projectTextFull,
.projectCredits,
.projectImagesWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  max-height: calc(100vh - 4 * var(--space-S));
  scrollbar-width: 0;
  width: 300px;
  padding-right: var(--space-S);
}

.projectCredits,
.projectImagesWrapper {
  animation: fadeIn 0.5s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.projectCreditsPair {
  padding-bottom: 5px;
}

.projectIndex,
.projectCreditsHead {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
  padding-right: 30px;
}

.projectTitle {
  white-space: nowrap;
}

.projectImage {
  position: relative;
  margin-bottom: 5px;
  width: 300px;
}

/* ABOUT */

.aboutName {
  white-space: nowrap;
  padding-right: var(--space-M);
}

.aboutContent {
  width: 400px;
}

.aboutContent div p {
  text-indent: 40px;
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.aboutContent div p:first-child {
  text-indent: 0;
}

.aboutImage {
  margin-top: var(--space-S);
  width: 200px;
  height: 250px;
  position: relative;
}

/* CONTACT */

.contactWrapper {
  animation: fadeIn 0.2s ease-in;
}

.contactRow {
  display: flex;
  white-space: nowrap;
}

.contactLeft {
  width: 100px;
}

.contactWrapper a {
  cursor: pointer;
}

.contactWrapper a:hover {
  color: var(--primary);
  /* text-decoration: underline 1.2px;
  text-underline-offset: 3px; */
}

.contactHead {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.contactPart {
  margin-bottom: 20px;
}

/* OVERVIEW */

.overviewInner {
  display: flex;
  overflow: scroll;
}

.overviewColumn {
  width: 300px;
  min-width: 300px;
  overflow: scroll;
  overscroll-behavior: contain;
  height: 100%;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  cursor: pointer;
}

.overviewColumn:hover {
  color: var(--primary);
}

.overviewHead {
  display: flex;
}

.overviewIndex,
.overviewText {
  padding-right: var(--space-M);
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.overviewImagesWrapper {
  padding-top: var(--space-M);
}

.overviewImage {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

/* IMPRINT */

.imprintContent {
  width: 400px;
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-height: calc(100vh - 4 * var(--space-S));
  overflow: scroll;
}

.imprintContent p {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.imprintContent h1,
.imprintContent h2 {
  font-family: "Protest";
  font-variation-settings: "wght" 130;
  font-weight: normal;
  font-size: var(--PG-font-size);
  line-height: var(--PG-line-height);
  letter-spacing: var(--PG-letter-spacing);
  word-spacing: var(--PG-word-spacing);
}

.imprintContent h1 {
  padding-top: 20px;
}

.imprintContent h2 {
  padding-bottom: 20px;
}
