@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  position: fixed;
  left: var(--space-S);
  top: var(--space-S);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: var(--widget-border-radius);
  background: var(--widget-color);
  transition: all 0.3s cubic-bezier(0.96, 0.09, 0.52, 0.98);
  max-height: calc(100vh - 2 * var(--space-S));
  overflow-y: scroll;
  overscroll-behavior: none;
  z-index: 100;
  border: 0.1px solid rgb(213, 213, 213);
  scrollbar-width: none;
}

.outer {
  display: flex;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-bottom: var(--space-S);
  overflow: hidden;
}

.content {
  position: fixed;
  padding: var(--space-S);
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-width: calc(100vw - 2 * var(--space-S));
}

.information {
  width: 500px;
  display: flex;
}

.information div:first-child {
  padding-right: 30px;
}

.information div:nth-child(2) {
  animation: fadeIn 0.5s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menuIcon {
  position: absolute;
  margin: var(--space-S);
  cursor: pointer;
  z-index: 100;
  height: 15px;
  width: 25px;
}

.left {
  width: 50px;
}

.inner {
  display: flex;
}

.date {
  width: 100px;
}

.headline,
.text,
.images {
  padding-bottom: var(--space-S);
}

.text a {
  font-family: "Protest";
  font-variation-settings: "wght" 130;
  font-size: var(--PG-font-size);
  line-height: var(--PG-line-height);
  letter-spacing: var(--PG-letter-spacing);
  word-spacing: var(--PG-word-spacing);
}

.link {
  padding-bottom: var(--space-S);
}

.link span {
  width: 90px;
  cursor: pointer;
}

.link span:hover,
.text a:hover {
  color: var(--primary);
  /* text-decoration: underline 1.7px;
  text-underline-offset: 3px; */
}

.date,
.index,
.text {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

/* NEWS */

.newsFeed {
  overscroll-behavior: contain;
  overflow-y: scroll;
  scrollbar-width: none;
}

.newsContent {
  width: 400px;
}

.wrapperNews:hover {
  padding-bottom: 30px;
}

.extendArrowDown,
.extendArrowUp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 20px;
}

.extendArrowDown span,
.extendArrowUp span {
  cursor: pointer;
  /* height: 11px; */
}

.extendArrowUp {
  position: absolute;
  bottom: var(--space-S);
  right: var(--space-S);
}

.extendArrowDown:hover,
.extendArrowUp:hover {
  color: var(--primary);
}

.innerBottom {
  display: flex;
  margin-top: var(--space-L);
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.swiperControls {
  position: absolute;
  height: 200px;
  width: 400px;
  display: flex;
  z-index: 10;
  overscroll-behavior: contain;
  overflow: hidden;
  pointer-events: none;
}

.swiperControls div {
  width: 50%;
  height: 100%;
  overscroll-behavior: contain;
}

.swiperControlLeft {
  cursor: url("../../public/images/arrow-left.svg"), auto;
  pointer-events: auto;
}

.swiperControlRight {
  cursor: url("../../public/images/arrow-right.svg"), auto;
  /* pointer-events: auto; */
}

.selectableText {
  user-select: text;
}

/* PROJECT */

.outerFull {
  width: calc(100vw - 4 * var(--space-S));
  height: calc(100vh - 4 * var(--space-S));
  display: flex;
}

.outerProject {
  margin-right: 25px;
  max-height: calc(100vh - 4 * var(--space-S));
  display: flex;
}

.outerProjSmall {
  display: flex;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-bottom: var(--space-S);
  overflow: hidden;
}

.outerProjSmall:hover {
  color: var(--primary);
}

.projectWrapper {
  width: 300px;
  cursor: pointer;
}

.projectInner {
  display: flex;
}

.projectWrapperFull {
  width: 300px;
}

.projectHead {
  display: flex;
}

.projectArrow {
  position: absolute;
  top: 15px;
  right: var(--space-S);
  z-index: 100;
  cursor: pointer;
}

.projectArrowMobile {
  display: none;
}

.projectText {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.projectTextFull p {
  padding-bottom: 25px;
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.projectTextFull,
.projectCredits,
.projectImagesWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  max-height: calc(100vh - 4 * var(--space-S));
  scrollbar-width: 0;
  width: 300px;
  padding-right: var(--space-S);
}

.projectTextMobile,
.projectContentMobile {
  display: none;
}

.projectCredits,
.projectImagesWrapper {
  animation: fadeIn 0.5s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.projectCreditsPair {
  padding-bottom: 5px;
}

.projectIndex,
.projectCreditsHead {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
  padding-right: 30px;
}

.projectTitle {
  white-space: nowrap;
}

.projectImage {
  position: relative;
  margin-bottom: 5px;
  width: 300px;
}

/* ABOUT */

.aboutName {
  white-space: nowrap;
  padding-right: var(--space-M);
}

.aboutContent {
  width: 400px;
  overflow: scroll;
  scrollbar-width: none;
  max-height: calc(100vh - 50px);
}

.aboutContent div p {
  text-indent: 40px;
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.aboutContent div p:first-child {
  text-indent: 0;
}

.aboutImage {
  margin-top: var(--space-S);
  width: 200px;
  height: 250px;
  position: relative;
}

/* CONTACT */

.contactWrapper {
  animation: fadeIn 0.2s ease-in;
}

.contactRow {
  display: flex;
  white-space: nowrap;
}

.contactLeft {
  width: 100px;
}

.contactWrapper a {
  cursor: pointer;
}

.contactWrapper a:hover {
  color: var(--primary);
  /* text-decoration: underline 1.2px;
  text-underline-offset: 3px; */
}

.contactHead {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.contactPart {
  margin-bottom: 20px;
}

/* OVERVIEW */

.overviewInner {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  height: calc(100vh - 4 * var(--space-S));
  width: calc(100% - 80px);
}

.overviewColumn {
  width: 300px;
  min-width: 300px;
  overflow: scroll;
  scrollbar-width: none;
  overscroll-behavior: contain;
  height: 100%;
  animation: fadeIn 0.2s ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.overviewColumn:hover {
  color: var(--primary);
}

.overviewHead {
  display: flex;
}

.overviewIndex,
.overviewText {
  padding-right: var(--space-M);
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.overviewImagesWrapper {
  padding-top: var(--space-M);
}

.overviewImage {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.overviewInnerMobile {
  display: none;
}

.overviewNextButton,
.overviewPrevButton {
  position: absolute;
  height: calc(100vh - 6 * var(--space-S));
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overviewNextButton {
  right: 0;
}

.overviewPrevButton {
  left: 0;
}

.overviewNextButton:hover,
.overviewPrevButton:hover {
  color: var(--primary);
}
/* IMPRINT */

.imprintContent {
  width: 400px;
  animation: fadeIn 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-height: calc(100vh - 4 * var(--space-S));
  overflow: scroll;
  scrollbar-width: none;
}

.imprintContent p {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
}

.imprintContent h1,
.imprintContent h2 {
  font-family: "Protest";
  font-variation-settings: "wght" 130;
  font-weight: normal;
  font-size: var(--PG-font-size);
  line-height: var(--PG-line-height);
  letter-spacing: var(--PG-letter-spacing);
  word-spacing: var(--PG-word-spacing);
}

.imprintContent h1 {
  padding-top: 20px;
}

.imprintContent h2 {
  padding-bottom: 20px;
}

.overviewImagesMobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .wrapperNews:hover {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .outer,
  .outerFull {
    flex-direction: column;
    margin-top: 40px;
    width: calc(100vw - 3 * var(--space-S));
    overflow: scroll;
  }
  .outerProjSmall,
  .outerProject {
    width: calc(100vw - 4 * var(--space-S));
    flex-wrap: wrap;
  }
  .inner,
  .innerBottom {
    flex-direction: column;
  }
  .newsContent {
    width: calc(100vw - 3 * var(--space-S));
    max-height: calc(100vh - 125px);
  }
  .extendArrowDown,
  .extendArrowUp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20px;
  }
  .extendArrowUp {
    position: fixed;
    bottom: var(--space-S);
    left: 0;
    width: 100vw;
  }
  .swiperControls {
    display: none;
  }
  .aboutContent,
  .imprintContent {
    max-height: unset;
    width: calc(100vw - 4 * var(--space-S));
  }
  .information {
    display: block;
    width: calc(100vw - 2 * var(--space-S));
  }
  .information div:nth-child(2) {
    padding-top: var(--space-S);
  }
  .projectText,
  .project,
  .projectArrow,
  .projectImagesWrapper,
  .projectTextFull,
  .projectCredits,
  .overviewNextButton,
  .overviewPrevButton,
  .overviewImagesWrapper {
    display: none;
  }
  .projectTextMobile {
    display: block;
    padding-right: var(--space-S);
    font-family: "ProtestMono";
    font-size: var(--PGM-font-size);
    line-height: var(--PGM-line-height);
    letter-spacing: var(--PGM-letter-spacing);
    font-variation-settings: "wght" 70;
    animation: fadeIn 0.2s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .projectArrowMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 4 * var(--space-S));
    height: 30px;
    cursor: pointer;
  }
  .projectContentMobile {
    position: absolute;
    left: var(--space-S);
    top: 50px;
    display: block;
    overflow: scroll;
  }
  .projectWrapper {
    width: unset;
  }
  .projectCreditsMobile {
    padding-top: var(--space-M);
    padding-bottom: var(--space-S);
  }
  .overviewInner {
    display: none;
    overflow: scroll;
  }
  .overviewInnerMobile {
    display: block;
  }
  .overviewColumn {
    height: auto;
    margin-bottom: 30px;
    width: calc(100vw - 4 * var(--space-S));
    overflow-x: hidden;
  }

  .overviewText {
    max-height: 45px;
    overflow: hidden;
  }
  .overviewTextWrapper::after {
    content: "[…]";
    font-family: "ProtestMono";
    font-size: var(--PGM-font-size);
    line-height: var(--PGM-line-height);
    letter-spacing: var(--PGM-letter-spacing);
    font-variation-settings: "wght" 70;
  }
  .overviewImagesMobile {
    display: block;
    padding-top: var(--space-S);
    width: 100%;
  }
  .link span:hover,
  .overviewColumn:hover,
  .outerProjSmall:hover,
  .text a:hover,
  .contactWrapper a:hover,
  .outerProjSmall:hover {
    color: inherit;
  }
}
