.wrapper {
  height: 100vh;
  margin-top: 80vh;
}

.imageWrapper {
  transition: all 0.4s ease;
  margin-left: var(--space-M);
}

.index {
  font-family: "ProtestMono";
  font-size: var(--PGM-font-size);
  line-height: var(--PGM-line-height);
  letter-spacing: var(--PGM-letter-spacing);
  font-variation-settings: "wght" 70;
  margin: var(--space-S);
}

.sliderOuter {
  opacity: 0;
  animation: appear 0.5s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.sliderWrapper {
  /* width: 200vw; */
  overflow: hidden;
  display: flex;
  transition: all 0.4s ease;
  margin-top: 500px;
  scroll-padding-top: -50px;
  scrollbar-width: none;
}

.anchor {
  position: absolute;
  transform: translateY(calc(-8vh + var(--space-M)));
}

.sliderControls {
  position: absolute;
  height: 92vh;
  width: 100vw;
  z-index: 50;
  display: flex;
}

.sliderControls div {
  width: 50%;
  height: 100%;
}

.leftArrow {
  cursor: url("../public/images/arrow-left.svg"), auto;
}

.rightArrow {
  cursor: url("../public/images/arrow-right.svg"), auto;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@media screen and (max-width: 600px) {
  .sliderWrapper {

    margin-top: 0px;
  }
}